-
  const resourcesItems = [
    {
      title: 'Developers',
      description: 'Sources and documentation',
      links: [
        { icon: 'github',       link: 'https://github.com/hyle-team/zano',            description: 'Github' },
        { icon: 'document-box', link: 'https://docs.zano.org/',                       description: 'Documentation' }
      ]
    },
    {
      title: 'Users',
      description: 'Manuals and guides',
      links: [
        { icon: 'account',      link: 'https://docs.zano.org/docs/managing-wallets',  description: 'User guide' },
        { icon: 'worker',       link: 'https://docs.zano.org/docs/mining-guide',      description: 'Miner guide' }
      ]
    },
    {
      title: 'Papers',
      description: 'Whitepapers and specifications',
      links: [
        { icon: 'document',     link: 'downloads/zano_wp.pdf',                        description: 'Whitepaper' },
        { icon: 'database',     link: 'https://docs.zano.org/docs/specifications',    description: 'Specifications' }
      ]
    }
  ]

// section resources
section.section.resources
  div.section__wrap.container

    h2.section__title.title.centred
      span.title__text Resources
      span.title__shadow Resources

    div.resources
      each res in resourcesItems
        div.resource
          span(class=`resource__icon icon ${res.title.toLowerCase()}`)
          h4.resource__title= res.title
          p.resource__description= res.description

          div.resource__links
            each link in res.links
              a.resource__link(href= link.link aria-label= link.title)
                span(class=`icon ${link.icon}`)
                span.resource__tooltip= link.description
